@keyframes bounceIn {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    60% {
        transform: translateY(30px);
        opacity: 1;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: 'Caladea', sans-serif;
    background-color: #f0f0f0;
  }
#dynamicText3 {
    text-align: center;
    color: #7B68EE;
}
.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    margin-left: -265px;
    margin-bottom: -340px;
  }
.formDivLogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
.labelLogin {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
input {
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s;
}
input:focus {
    border-color: #7B68EE;
    outline: none;
}
.logoLogin {
    width: 200px;
    height: auto;
    margin-top: -400px;
    margin-bottom: -100px;
    margin-left: 320px;
    animation: bounceIn 1s ease;
}
h3 {
    margin-top: -18px;
    font-size: 40px;
    font-family: 'Pristina', sans-serif;
    color: #333;
    width: 100%;
    text-align: center;
}
.buttonLogin {
    padding: 10px 20px;
    background-color: #7B68EE;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
.buttonLogin:hover {
    background-color: #6A5ACD;
}
.buttonLogin:active {
    transform: scale(0.95);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 1.2);
}
.switchLogin {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
    right: -160px;
    bottom: -24px;
}

.switchLog input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderLogin {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.sliderLogin:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    Right: 29.6px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .sliderLogin {
    background-color: #2196F3;
}

input:checked + .sliderLogin:before {
    transform: translateX(26px);
}
.rememberMeLabelLogin {
    position: relative;
    right: -30px;
    top: 49px;
    font-weight: bold;
    color: #333;
    font-family: 'Caladea', sans-serif;
    margin-bottom: 5px;
}